
body{
	
}

nav{
	width: 75%;
	text-align: center;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
}

li{  
	/* background-color: #447abb; */
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}

img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}