/* Color palette: https://paletton.com/#uid=6170L0kqRuOmquJotuCu2vevTtP */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body{
	
}

#navbar {
	list-style-type: none;
	text-align: center;
	justify-content: center;
	padding: 0;
	width: 100%;
	display: block;
	background: #F57627;
	color: black;
}
	
#navcontent {
	
li{  
	/* background-color: #447abb; */
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}

img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}