/* Color palette: https://paletton.com/#uid=6170L0kqRuOmquJotuCu2vevTtP */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
	font-family: 'Merriweather';
}

#navbar {
	list-style-type: none;
	text-align: center;
	justify-content: center;
	padding: 0px;
	width: 100%;
	display: block;
	background: #F57627;
	color: black;
}
	
#navcontent {
	margin: 0px;
	width: 100%;
	padding: 0px;
	position: sticky;
	top: 0px;
}

.nlink a:hover {
	background: #F5BD27;
}

li{  
	/* background-color: #447abb; */
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 12px 50px;
}

img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	display: block;
	width: 100%;
	background: #F57627;
	height: 50px;
}